.venv
audio
ebsynth
evil_premiere_garbage
finished_frameseqs
ifsrjson
lyric_overlays
media
models
out
sam2
scratchpad Project
scream_scratch Project
singlediffuseout
source_video
vid_pipe
.idea
__pycache__
projects/__pycache__
projects/fullbodysprain/__pycache__
projects/scream/__pycache__
projects/truce/__pycache__
configs

*.png
new.chaos
prompt.txt
temp.py
uv.lock